*{
    margin: 0;
    padding: 0;
}
.container{
    border: 1px solid black;
    padding-left: 30px;
    padding-right: 30px;
    max-width: 80vw;
    margin: 0 auto;
}

/* HEADER */
header{
    height: 10vh;
    background-color: black;
}

/* DESSCRIPTION */
#description{
    height: 90vh;
}

/* PRODUCTS */
#products{
    height: 100vh;
}

/* OFFER */
#offer{
    height: 100vh;
}

/* FORM */
#form{
    height: 90vh;
}

/* FOOTER */
footer{
    height: 10vh;
}