*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    border: 1px solid black;
    padding-left: 30px;
    padding-right: 30px;
    max-width: 80vw;
    margin: 0 auto;
}

/* HEADER */
header{
    height: 10vh;
    background-color: black;
    color: white;
    line-height: 10vh;
    font-size: 20px;
}
header p{
    display: inline-block;
}
#menu{
    list-style-type: none;
    display: inline-block;
    float: right;
}
#menu li{
    display: inline-block;
    padding-left: 40px;
}


/* DESSCRIPTION */
#description{
    height: 90vh;
}

/* PRODUCTS */
#products{
    height: 30vh;
}
#products .container{
    font-size: 0;
    display: flex;
    justify-content: space-between;
}
.chair1, .chair2, .chair3{
    width: 25vw;
    height: 30vh;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}
.chair3{
    border: 2px solid gray;
    font-size: 12px;
    height: 30vh;
}
.chair3 span{
    padding-top: 20px;
    font-weight: 900;
}
.shadow{
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: white;
    opacity: 60%;
    bottom: 20px;
    padding-left: 40px;
    line-height: 25px;
}
.nameOfChair{
    font-weight: 900;
    font-size: 20px;
}
.line{
    width:200px;
    height: 10%;
    background-color: forestgreen;
    position: absolute;
}
.lineTop{
    width:200px;
    height: 5%;
    background-color: forestgreen;
    position: absolute;
    top: 30px;
}


/* OFFER */
#offer{
    height: 70vh;
}

/* FORM */
#form{
    height: 90vh;
}

/* FOOTER */
footer{
    height: 10vh;
    line-height: 10vh;
}
footer p{
    display: inline-block;
    color: grey;
}
.media{
    float: right;
}
footer img{
    display: inline-block;
    height: 35px;
    width: 35px;
    vertical-align: middle;
}
.bold{
    font-weight: bold;
}
footer div.container p:last-child{
    padding-left: 150px;
}