*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    //border: 1px solid black;
    padding-left: 30px;
    padding-right: 30px;
    max-width: 80vw;
    margin: 0 auto;
}

/* ----------------------------------- HEADER ----------------------------------- */
header{
    height: 10vh;
    background-color: black;
    color: white;
    line-height: 10vh;
    font-size: 20px;
}
header p{
    display: inline-block;
}
#menu{
    list-style-type: none;
    display: inline-block;
    float: right;
}
#menu li{
    display: inline-block;
    padding-left: 40px;
}


/* ----------------------------------- DESCRIPTION ----------------------------------- */
#description{
    height: 90vh;
}
#description .container{
    position: relative;
    height: 90vh; 
    background: linear-gradient(to bottom, rgba(247,247,247,1) 64%, rgba(237,236,249,1) 70%, rgba(223,222,247,1) 77%, rgba(208,211,246,1) 91%, rgba(206,210,246,1) 93%, rgba(201,206,245,1) 98%, rgba(199,205,245,1) 100%);
}
#description .container img{
    position: absolute;
    height: 60vh;
    width: 40vw;
    top: 15vh;
    left: -5vh;
    display: inline-block;
}
.article{
    position: relative;
    display: inline-block;
    width: 35vw;
    top: 20vh;
    left: 30vw;
    font-size: 25px;
    text-align: center;
}
.prev, .next{
    width: 5vw;
    height: 80vh;
    display: inline-block;
    font-size: 70px;
    font-weight: 900;
    color: #27c7ab;
    line-height: 80vh; // 'set marks
    position: absolute;text-align: center;
}
.prev{
    float: left;
}
.next{
    float: right;
}
.bold{
    color: #27c7ab;
}

/* PRODUCTS */
#products{
    height: 30vh;
}
#products .container{
    font-size: 0;
    display: flex;
    justify-content: space-between;
}
.chair1, .chair2, .chair3{
    width: 24vw;
    height: 25vh;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}
.chair3{
    border: 2px solid gray;
    font-size: 12px;
    height: 28vh;
    position: relative;
    top: 20px;
}
.chair3 span{
    padding-top: 20px;
    font-weight: 900;
}
.shadow{
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: white;
    opacity: 60%;
    bottom: 20px;
    padding-left: 40px;
    line-height: 25px;
}
.nameOfChair{
    font-weight: 900;
    font-size: 20px;
}
.line{
    width:200px;
    height: 5px;
    background-color: #27c7ab;
    background-color: #27c7ab;
    position: absolute;
}
.lineTop{
    width:200px;
    height: 5%;
    background-color: forestgreen;
    position: absolute;
    top: 30px;
}
.more{
    cursor: pointer;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
    bottom: -80px;
    border: 0;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
}

/* ----------------------------------- OFFER ----------------------------------- */
#offer .container{
    height: 70vh;
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 9%, rgba(237,237,237,1) 89%, rgba(237,237,237,1) 100%);
    color: darkgrey;
    display: flex;
    justify-content: space-around;
}
.priceList{
    position: relative;
    top: 4vh;
    left: 10vw;
}
.lineLonger{
    width: 20vw;
    position: relative;
    top: 4vh;
    left: 10vw;
}

/* OFFER- ELEMENTS OF CONTAINER */
.plan{
    border: 2px solid gray;
    height: 55vh;
    display: inline-block;
    position: relative;
    top: 13vh;
    width: 18vw;
}
.offer2{
    background-color: #27c7ab;
    border: #27c7ab;
}

/* OFFER 1 i 3 -first method to create label*/
.offer1::before,
.offer3::before{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: white;
    border: 1px solid;
    border-radius: 50%;
    top: -6%;
    left: 40%;
    z-index: 1;
}
.offer1::after,
.offer3::after{
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: lightgray;
    border-radius: 50%;
    top: -4%;
    left: 43.5%;
    z-index: 2;
}

/* OFFER 2 -another method to create label*/
.circle1{
    width: 40px;
    height: 40px;
    border: 1px solid #27c7ab;
    border-radius: 50%;
    position: absolute;
    top: -5%;
    left: 44%;
    background-color: #27c7ab;
}
.circle2{
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 15%;
    left: 18%;
}

/* OFFER- OTHER ELEMENTS */
.offerTitle{
    color: #27c7ab;
    text-align: center;
    font-weight: 700;
    margin-top: 20px;
}
.offer2 .offerTitle{
    color: white;
}
.prices{
    width: 100px;
    height: 100px;
    border: 2px solid darkgray;
    border-radius: 50%;
    color: #585858;
    font-size: 20px;
    font-weight: 700;
    position: relative;
    margin: 0 auto;
    top: 30px;
}
.offer2 .prices{
    background-color: white;
    border: #27c7ab;
    color: #27c7ab;
}
.price{
    position: relative;
    text-align: center;
    top:20px;
}
.priceUp{
    position: relative;
    top:-7px;
    padding: 0; 
}
.offerList{
    list-style-type: none;
    position: absolute;
    top: 200px;
    width: 100%;
    color: #585858
}
.shadow1{
    background-color: grey;
    padding: 10px;
    width: 100%;
    text-align: center;
}
.shadow2{
    background-color: lightgray;
}
.shadow3{
    background-color: white;
}
button{
    bottom: 10px;
    left: 30%;
    color: white;
    background-color: #27c7ab;
    padding: 8px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 12px;
    font-weight: 700;
    border: 2px solid #27c7ab;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    cursor: pointer;
}
.offerButton{
    position: absolute;
}
.offer2 button{
    background-color: white;
    color:#27c7ab;
}

/* ----------------------------------- FORM ----------------------------------- */
#form{
   //height: 90vh;
}
#form .container{
    height: 80vh;
    position: relative;
}

.titleContact{
    position: relative;
    top: 2vh;
    left: 10vw;
}
form, .contact{
    display: inline-block;
    position: absolute;
    top: 10%;
}
form{
    width: 60%;
    position: relative;
    margin-left: 5%;
}
input, textarea{
    display: block;
    margin-top: 30px;
    padding: 10px;
    width: 100%;
    border: 1 px solid gray;
    font-size: 20px;
}
textarea{
    height: 245px;
}
.contact{
    margin-left: 50px;
    width: 20vw;
}
.send img, .send p{
    display: inline-block;
    margin-top: 30px;
}
.send img{
    border: 1px solid #27c7ab;
}
.send p{
    margin-left: 15px;
    color: gray;
}
.sendButton{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    font-size: 25px
}

/* ----------------------------------- FOOTER ----------------------------------- */
footer{
    height: 10vh;
    line-height: 10vh;
}
footer p{
    display: inline-block;
    color: grey;
}
.media{
    float: right;
}
footer img{
    display: inline-block;
    height: 35px;
    width: 35px;
    vertical-align: middle;
}
.bold{
    font-weight: bold;
}
footer div.container p:last-child{
    padding-left: 150px;
}